@font-face {
    font-family: 'SpartaIcons';
    font-style: normal;
    font-weight: all;
    src: url(/resources/themes/spartaicons-webfont.woff) format("woff");
}
@import "jquery-ui-1.10.4.custom.css";
html,
button,
input,
select,
textarea,
a,
.buttonLink,
p,
div,
label,
legend {
    font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: normal;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    outline: none;
}
body {
    font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    background-color: #eee;
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
}
#tabs, #accordion {
    margin: 5px;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}
a {
    color: #0078CF;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
}
a:hover,
a:focus {
    color: #000;
    text-decoration: underline;
}
.header1,
h1 {
    font-size: 2.5em;
    color: #1D91CA;
    margin: 0 0 0.5em;
	font-weight: normal;
}
.header2,
h2 {
    font-size: 2.0em;
    color: #1D91CA;
    margin: 0 0 0.5em;
	font-weight: normal;
}
.header3,
h3  {
    font-size: 1.7em;
    color: #1D91CA;
    margin: 0 0 0.5em;
	font-weight: normal;
}
.header4,
h4  {
    font-size: 1.5em;
    color: #1D91CA;
    margin: 0 0 0.5em;
	font-weight: normal;
}
.header5, h6  {
    font-size: 1.3em;
    color: #1D91CA;
    margin: 0 0 0.5em;
	font-weight: normal;
}
.header6, h7  {
    font-size: 1em;
    color: #1D91CA;
    margin: 0 0 0.5em;
	font-weight: normal;
}
form input,
form select,
form textarea {
    display: block;
    border: 1px solid #DDD;
    margin-bottom: 0.5em;
    color: #777;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 350px;
    /* max-width: 80%; */
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/js/boxsizing.htc);
}
form input:focus,
form textarea:focus,
form select:focus {
    box-shadow: 0 0 5px lightblue;
    border-color: lightblue;
}
input[type="radio"] {
    width: inherit;
}
input[type="radio"]:focus {
    outline: 1px lightgray solid;
}
form select {
    padding-left: 0.25em;
}
select:focus {
    border-color: black;
}
.button,
button,
.toggle-title {
    color: #666;
    padding: 0.6em 1.2em;
    border: solid 1px #ddd;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
    margin-bottom: 1px;
    width: auto;
}
.button:focus,
button:focus,
.toggle-title:focus {
    color: #333;
    border-color: #505050;
    background: #efefef;
    /* Old browsers */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: linear-gradient(to bottom, #f6f6f6 0%, #efefef 100%);
    /* W3C */
}
.button,
input[type="submit"],
button,
.toggle-title {
    color: #666;
    font-size: 1.1em;
    font-weight: normal;
    padding: 0.6em 1.2em;
    text-shadow: 0 1px 0 #fff;
    border: solid 1px #ddd;
    text-decoration: none;
    cursor: pointer;
    background: #efefef;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #f6f6f6 0%, #efefef 100%);
    /* W3C */
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    margin-bottom: 1px;
    width: auto;
}
.button:hover,
input[type="submit"]:hover,
button:hover,
.toggle-title:hover {
    color: #333;
    text-decoration: none;
    border-color: #BBB;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: 0 100%;
}
.button:focus,
input[type="submit"]:focus,
button:focus,
.toggle-title:focus {
    color: #333;
    border-color: #505050;
    text-decoration: underline;
}
.button:active,
input[type="submit"]:active,
button:active,
.toggle-title:active {
    color: #000;
    background: #F5F5F5;
    border-color: #444;
    position: relative;
    top: 1px;
}
a.button {
    padding: 0.5em 1.2em;
}
.right {
    text-align: right;
}
.floatRight {
    float: right;
}
.dark {
    color: #333;
}
.menu {
    float: right;
    max-width: 70%;
}
.menu>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu>ul>li {
    float: left;
}
.menu>ul>li>a {
    display: block;
    padding: 0 1em;
    border-left: 1px solid #DDD;
    line-height: 22px;
    color: #555;
}
.page {
    background-color: #ffffff;
    width: 90%;
    margin: 2em auto;
    max-width: 1100px;
    min-width: 300px;
}
.header {
    border-bottom: 1px solid #DDD;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    background-image: url('../content/logo.png');
    background-repeat: no-repeat;
    height: 90px;
}
.content {
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
}
.contentInner {
    display: inline-block;
    width: 100%;
}
.footer {
    border-top: 3px solid #ffffff;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
}
fieldset {
    border: 1px solid #aaaaaa;
    margin: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#auth {
	width: auto;
	margin: 5px 10px;
	background-color: #fff;
	padding: 5px 20px 600px 20px;
    border: 1px solid #bbbbbb;
    -moz-border-radius: 5px;
    border-radius: 5px;
}	
#top {
	background: #222 url("/resources/content/brand.png") no-repeat scroll left center;
	height: 40px;
	padding: 3px 0 0 115px;
	color: #dbdbdb;
}	
#topspacer {
	background-color: #bbb;
	height: 5px;
}	
#sitelinks {
	float: right;
	padding: 5px 10px 0 0;
	color: #aaa;
	text-decoration: none;
}			
#top a {
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}
#generator {
	width: auto;
	margin: 0;
	padding: 5px 0;
}		
#top .title {
    float: left;
    background: transparent;
    padding: 5px 0 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
#top span {
	margin-left: 10px;
}	
.icon {
	font-family: SpartaIcons;
	margin-right: 5px;
}
.iconsmall {
	font-family: SpartaIcons;
	margin-right: 5px;
	font-size: 14px;
}
.info,
.success,
.warning,
.error {
    border: 1px solid;
    margin: 10px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
#serviceError {
    border: 1px solid;
    margin: 10px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #D8000C;
    background-color: #FFBABA;
	display: none;
}
#lock {
    display: none;
    z-index: 1001;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #000000;
    filter: alpha(Opacity=10);
    opacity: 0.1;
    padding-top: 0px;
    font-weight: bold;
}
#lockMsg {
    z-index: 2000;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 2px;
    width: 100%;
    text-align: center;
}
.page {
    max-width: none;
}
.site {
    background-color: #F8F8F8;
    float: left;
    border: solid 1px #ddd;
    margin: 10px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
}
#sites,
#pages,
#widgets,
.availableWidgets,
.drop {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sites li,
#pages li,
#widgets li,
.availableWidgets li,
.drop li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    height: 18px;
}
#sites li span,
#pages li span,
#widgets li span,
.availableWidgets li span,
.drop li span {
    position: absolute;
    margin-left: -1.3em;
}
.nonav {
    border: solid 1px red;
    font-weight: 30;
}
.drop {
    min-height: 100px;
    margin-bottom: 15px;
    background-color: #F8F8F8;
    width: 100%;
    height: 90%;
    border: solid 1px #ddd;
    overflow: hidden;
}
.drop ul {
    margin: 5px;
	padding-bottom: 40px;
}
.bin {
    border: dashed 2px #FFBABA;
    min-height: 40px;
}
#tabs-2 label {
    width: auto;
    font-weight: normal;
}
label {
    font-weight: normal;
    margin-top: 10px;
    color: #1D91CA;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;	
}
#layout label {
    width: auto;
    margin-left: 20px;
}
.hidden {
    display: none;
}
.selectedLayout {
    border: solid 2px #1D91CA;
}
.center {
    text-align: center;
}
img,
li {
    cursor: pointer;
}
li {
    overflow: hidden;
}
.config {
    position: left;
    top: 0px;
    right: 0px;
}
#ServiceCollectionWidgetConfig div,
#PopularServiceCollectionWidgetConfig div {
    max-height: 600px;
    scroll: auto;
}
table {
    empty-cells: show;
    margin: 0px;
    white-space: nowrap;
    width: 100%;
}
table th {
    font-weight: normal;
    background-color: #1D91CA;
    color: #fff;
    text-align: left;
    padding: 10px;
}
table td {
    padding: 10px;
}
#ServiceCollectionWidgetConfig table tr {
    cursor: pointer;
}
table tr.alt td {
    background-color: #F8F8F8;
}
table tr:hover td {
    background-color: #EEE;
}
table tr.selected td {
    background-color: #DDD;
}
form input,
form select,
form textarea {
    max-width: none;
    width: auto;
}
form textarea {
    width: 99%;
}
.info,
.success,
.warning,
.error {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin: 0px;
    z-index: 1000;
	display: none;
}
form input[type='radio'] {
    display: inline;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
#WidgetConfig {
    z-index: 1;
}
#lock {
    z-index: 2;
}
ul,
ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
.hiddenHelp {
	display: none;
}
.ui-accordion .ui-accordion-content {
    padding: 10px;
}
/* red */

.red {
    text-shadow: none;
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
    color: #faddde;
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top, #c9151b, #a11115);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top, #aa1317, #ed1c24);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
.container {
    width: 100%;
    clear: both;
}
.container > .one,
.container > .two,
.container > .three,
.container > .four,
.container > .five,
.container > .six,
.container > .seven,
.container > .eight,
.container > .nine,
.container > .ten,
.container > .eleven {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
}
.container > .one {
    width: 4.85%;
}
.container > .two {
    width: 13.45%;
}
.container > .three {
    width: 22.05%;
}
.container > .four {
    width: 30.75%;
}
.container > .five {
    width: 39.45%;
}
.container > .six {
    width: 48%;
}
.container > .seven {
    width: 56.75%;
}
.container > .eight {
    width: 65.4%;
}
.container > .nine {
    width: 74.05%;
}
.container > .ten {
    width: 82.7%;
}
.container > .eleven {
    width: 91.35%;
}
.container > .twelve {
    width: 100%;
    float: left;
}
.container > .last {
    margin-right: 0px;
}
.container img,
.container iframe {
    max-height: 100%;
    max-width: 100%;
}