body {
  /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

input,
select,
textarea,
button {
	border: 1px solid #DDD;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

a {
  color: #245b8e;   /* #386fa2 */
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #efefef));
	cursor: pointer;
}

.query-content label, .client-content label {
	display: inline-block;
	margin-bottom: 1em;
	font-weight: 700;
	vertical-align: top;
	width: 150px;
	color: #555;
	text-align: left;
	font-size: 100%;
}

.query-content legend {
	color: #555;
	font-size: 16px;
	font-weight: bold;
}

#create-result, #search-result {
	color: #447544;
	font-weight: bold;
}

td {
	vertical-align: top;
}

#tabs {
	overflow: auto;
}
