@import "jquery-ui-1.10.4.custom.css";

html,button,input,select,textarea,a,.buttonLink,p,div,label,legend {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: normal;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	outline: none;
}

html {
  overflow-y: scroll;
}

body {
	background-color: #ffffff;
	margin: 0;
	font-size: 14px;
	line-height: 1.6;
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}

a {
	color: #0078CF;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
}

a:hover, a:focus{
    color: #000;
	text-decoration: underline;
}

iframe {
	border: 0px;
}

.header1 {
	font-size: 4.1em;
	letter-spacing: -0.075em;
	text-transform: uppercase;
	line-height: 0.9;
	color: #1D91CA;
	margin: 0 0 0.5em;
	font-weight: normal;
}

.header2 {
	font-size: 1.8em;
	margin: 0 0 20px;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	color: #1D91CA;
	line-height: 1;
    font-weight: normal;
}

.header3 {
	font-size: 1.6em;
	color: #1D91CA;
	font-weight: normal;
	font-size: 1.2em;
	margin: 0;
	color: #1D91CA;
	font-weight: normal;
}

.header3:focus{
	text-decoration: underline;
}

.header4 {
	font-size: 1.4em;
	color: #1D91CA;
	font-weight: normal;
}

.header5 {
	font-size: 1.2em;
	margin: 0;
	color: #1D91CA;
	font-weight: normal;
}

.header6 {
	font-size: 1em;
	margin-bottom: 2px;
	font-weight: 700;
	color: #1D91CA;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: #1D91CA;
	text-decoration: none;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	color: #1D91CA;
	text-decoration: underline;
}

ul,ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.label,label {
	display: inline-block;
	margin-bottom: 1em;
	font-weight: 700;
	vertical-align: top;
	width: 200px;
}

form input, form select, form textarea {
 display: block;
 border: 1px solid #DDD;
 margin-bottom: 0.5em;
 color: #777;
 font-size: 1em;
 padding: 0.5em;
 width: 100%;
 max-width: 350px;
 /* max-width: 80%; */
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 box-sizing: border-box;
 *behavior: url(/js/boxsizing.htc);
}

input[type="radio"]{
 width: inherit;
}

input[type="radio"]:focus{
	outline: 1px lightgray solid;
}

form select {
	padding-left: 0.25em;
}

select:focus {
	border-color: black;
}

.button,input[type="file"],button,.toggle-title {
	color: #666;
	padding: 0.6em 1.2em;
	border: solid 1px #ddd;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: 0.2s linear all;
	transition: 0.2s linear all;
	margin-bottom: 1px;
	width: auto;
}

.button:focus,input[type="file"]:focus,button:focus,.toggle-title:focus
	{
	color: #333;
	border-color: #505050;
	background: #efefef; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6),
		color-stop(100%, #efefef) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f6f6f6 0%, #efefef 100%);
	/* W3C */
}

.button,input[type="submit"],button,.toggle-title {
	color: #666;
	font-size: 1.1em;
	font-weight: normal;
	padding: 0.6em 1.2em;
	text-shadow: 0 1px 0 #fff;
	border: solid 1px #ddd;
	text-decoration: none;
	cursor: pointer;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6),
		color-stop(100%, #efefef) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f6f6f6 0%, #efefef 100%);
	/* W3C */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	-ms-transition: 0.2s linear all;
	-o-transition: 0.2s linear all;
	transition: 0.2s linear all;
	margin-bottom: 1px;
	width: auto;
}

.button:hover,input[type="submit"]:hover,button:hover,.toggle-title:hover
	{
	color: #333;
	text-decoration: none;
	border-color: #BBB;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background: 0 100%;
}

.button:focus,input[type="submit"]:focus,button:focus,.toggle-title:focus
	{
	color: #333;
	border-color: #505050;
	text-decoration: underline;
}

.button:active,input[type="submit"]:active,button:active,.toggle-title:active
	{
	color: #000;
	background: #F5F5F5;
	border-color: #444;
	position: relative;
	top: 1px;
}

a.button {
	padding: 0.5em 1.2em;
}

.ServiceRequestFilter {
	margin-bottom: 20px;
}

.serviceListMenu {
	float: left;
	width: 28%;
	padding-bottom: 20px;
}

.serviceList {
	float: right;
	width: 68%;
}

.serviceListMenu>ul>li>a:after {
	font-weight: bold;
}

.serviceNavigationAnchor {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 20px;
	margin-top: 20px;
}

.serviceNavigationTransparent {
	opacity: 0.2;
}

.underline {
    border-bottom: 1px solid #DDD;
    margin-bottom: 1em;
}

.PopularServiceCollection {
	border-top: 1px solid #DDD;
	padding-top: 1em;
}

.PopularServiceCollection>a {
	float: right;
}

.popularServiceListTable {
	display: table;
	width: 100%;
}


.popularServiceListTable > div {
	display: table-row;
}

.popularServiceListTable > div > div {
	display: table-cell;
	padding:1%;
	margin-top: 0em;
}

.popularServiceListTable > div > div:nth-child(4) {  
	border: 1px solid red;
	display: block;
	float: none;
}

.popularHeader {
	border-top: 1px solid #DDD;
	padding-top: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0em;
	clear: left;
}

.popularHeaderLink {
	float: right;
	padding-top: 1em;
	clear: left;
}



.MyServiceRequest .list>li>div {
	display: block;
	color: #999;
	text-decoration: none;
	/* margin-bottom: 5px; */
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	text-shadow: 0 1px 0 #fff;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6),
		color-stop(100%, #efefef) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f6f6 0%, #efefef 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f6f6f6 0%, #efefef 100%);
	/* W3C */
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	-ms-transition: 0.2s linear all;
	-o-transition: 0.2s linear all;
	transition: 0.2s linear all;
	padding: 10px;
}
.MyServiceRequest>div>div {
	color: #999;
}
.MyServiceRequest .list> {
	padding: 3px;
}
.MyServiceRequest .list>li>div:hover{
	color: #333;
	text-decoration: none;
	border-color: #BBB;
	background: 0 100%;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.MyServiceRequest .list>li>div.statopen {
	border-left: solid 5px #DC6D6B;
}

.MyServiceRequest .list>li>div.statclosed {
	border-left: solid 5px #0B9B4C;
}

.MyServiceRequest .list>li>span.status {
	display: none;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.right {
	text-align: right;
}

.floatRight {
	float: right;
}
.dark {
	color: #333;
}


#profileAccordian>div>div {
	border: solid 1px #DDD;
	padding: 20px;
	margin: 10px;
}

div.Login, .RegisterUserFragment {
	display: inline-block;
	width: 100%;
}

.menu {
	float: right;
	max-width: 70%;
}

.menu>ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.menu>ul>li {
	float:left;	
}

.menu>ul>li>a {
	display:block;
	padding: 0 1em;
	border-left: 1px solid #DDD;
	line-height: 22px;
	color: #555;
}

.page {
	background-color: #ffffff;
	width: 90%;
	margin: 2em auto;
	max-width: 1100px;
	min-width: 300px;
}

.header {
	border-bottom: 1px solid #DDD;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	background-image: url('../content/logo.png'); 
	background-repeat:no-repeat;
	height: 90px;
}

.content {
	background-color: #ffffff;	
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
}
.contentInner{
	display: inline-block;
	width: 100%;
}
.footer{
	border-top: 3px solid #ffffff;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 1em;
}

fieldset {
    border: 1px solid #aaaaaa;
    margin: 10px;
    padding:10px;
	-moz-border-radius: 5px;
	border-radius: 5px;    
}

.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px 0px 20px 0px;
    padding:10px 10px 10px 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;    
    display: none;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

div.area#ContentAreaInSingleColumnNoNavigationTemplate
{ 
	height:50%; 
}

#lock
{
    display: none;
    z-index: 1001;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #000000;
    filter: alpha(Opacity=10);
    opacity:0.1;
    padding-top: 0px;
    font-weight: bold;
}

#lockMsg {
    z-index: 2000;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 2px;
    width: 100%;
    text-align: center;
}

.formError {
	outline: 1px solid red;	
}

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}

.ui-tooltip-content {
    position: relative;
    padding: 1em;
    color: white;    
}

#menuButton {
	display: none; 
}

#status {
	display: none:
}

#requestDetailsAccordion li {
	float: left;
	padding: 10px;
}

.hiddenHelp {
	display: none;
}

/* override eform styling if necessary */
.lblTopicHeading {
	color: #1D91CA;
	text-transform: initial;
}
.lblTitleHeading {
	color: #1D91CA;
	text-transform: initial;
}

div.chat {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 65%;
	width: 45%;	
	border: 1px solid #aaaaaa;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	display: none;
	z-index: 99;
}


div.chat iframe {
	height: 100%;
	width: 100%;
}

#startChatButton {
	float: right;
	padding-right: 15px;
}

@media only screen
and (min-width : 769px) {

	.menuList {
		display: block !important;
	}
}

@media only screen
and (max-width : 768px) {

	.page {
		width: auto;
		margin: 10px 2px;
	}
	
	.header {
		background-position: 10px 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;		
		height: auto;
	}	
	
	#menuButton {
		display: block;
		width: 100%;
		float: none;
	}
	
	.menuButton {
		text-align: right;
	}	

	.menuList {
		display: none;
	}
	
	.menu {
		float: none;
		max-width: 100%;
	}			
	
	.header .menu {
		padding-top: 90px;
	}	
	
	.menu>ul>li {
		float:none;	
		border-top: solid 1px #DDD;
		padding: 5px;
	}	
	
	.menu ul li a {
		border-left: 0px;
	}
	
	.content {
		padding-bottom: 10px;
		padding-top: 20px;
		padding-left: 2px;
		padding-right: 2px;
		margin-left: 2px;
		margin-right: 2px;
	}
	
	.popularServiceListTable > div {
		display: block;
	}

	.popularServiceListTable > div > div {
		display: block;
		padding:1%;
		margin-top: 0em;
	}	

	.serviceListMenu {
		float: none;
		width: auto;
	}

	.serviceList {
		float: none;
		width: auto;
	}
	
	#requestDetailsAccordion li {
		float: none;
		padding: 3px;
	}

	div.chat {
		width: 90%;
	}	
}
