@import "common.css";
@import "custom.css";
@import "jquery-ui-1.10.4.custom.css";

form label {
	vertical-align: top;
	width: 200px;
	float: left;
}

form .lblTitleHeading label {
	width: 100%;
	float: none;
	color: #910A0A;
	/*
	text-transform: uppercase;
	font-size: 1.8em;
	*/
	margin: 0 0 20px;
	letter-spacing: -0.05em;
	line-height: 1;
    font-weight: normal;
	margin-top: 20px;	
}

form .lblTopicHeading label {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #910A0A;
	/*
	font-size: 1.17em;
	text-transform: uppercase;
	*/
	margin: 0;
}

form .lblProgressHeading label {
	font-weight: 300;
	width: 100%;
	text-align: right;
}

form .label100 label {
	font-weight: 300;
	width: 100%;
	float: none;
}

label {
	font-weight: normal;
}

.hidden {
	display: none;
}

form input, form select, form textarea {
	display: inline;
	width: 100%;
}

/* override eforms Styles2.css setting of font-size: xx-small;
 * this value should match body defined size from common.css
 */
div {
	font-size: 14px;
}

/* Tooltip */

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
}


